

h1 {
  color: black;
  font-size: 80px;
  font-weight: bold;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

h1, h2  {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #459AE0;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: black;
}

.btn-purple:hover {
  background-color: black;
  color: white;
}

.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}


.container {
  width: 85vw;
  height: 100vh;
  margin: 40px auto;
  color: grey;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.card-white {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-purple {
background-color: #7969E7;
color: white;
border-radius: 4px;
padding: 15px 20px;
}

#introduction {
  padding-bottom: 20px;
}


.main {
  display: flex;
  align-items: center;
  margin-top: 100px;

}

#email {
  width: 350;
  height: 40;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: solid;
}



#submit {
  background-color: black;
  color: white;
  height: 40;
  width: 100;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 12px;

}

.email-submit {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
}

.nav-bar > h3 {
  margin: 10px;
  color: black;
}

input::placeholder {
  color: grey;
  font-size: 15px;
  padding: 15px;
}


.btn {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-weight: bold;
  width: 100px
  margin-left: 50px;
}


.testimonials {
  width: 100%;
  background-color: #F5F0EB;
  hight: 900px;
}
























